{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="container">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Привет! Этот сайт предназачен для тех кому надоели обычные форумы!
            Здесь вы можете переписываться со всем миром на самые разные темы!(И про кочергу тоже)
            Для этого достаточно зарегистрироваться на Кочергчане,
            зайти на раздел /a, написать в строку все что имеет отношение к теме и отправить,
            нажав на кнопку "Кочерга".</p>
    </div>
    <img class="d-block mx-auto mb-4" src="/static/img/kocherga.gif" alt="">
    <div class="col-lg-6 mx-auto">
        <p><strong>Вот вам смущающаяся Кочерга</strong></p>
    </div>
</div>
{% endblock %}